.about{
    display: flex;
    width: 100%;
    height: 1400px;
    margin-bottom: 50px;
}
.about > div{
    width: 50%;
    background-image: url('../assets/aboutus.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 20px 20px;
    color: #000000;
}

div .about > div :last-child {
    width: 300px;
}
.about > video{
    width: 50%;
    height: 1400px;
    object-fit: cover;
}

@media screen  and (max-width:1024px) {
    .about{
        height: 800px;
    }

    .about > video{
        height: 800px;
    }
}

@media screen and (max-width:768px) {
.about{
    flex-direction: column;
}
.about > div{
    width: 100%;
    height: 50%;
}

.about > div  :last-child{
    margin-top: 250px;
    margin-right: -90px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-weight: 600;
    letter-spacing: 1px;
    width: 200px;
}

.about > video{
    height: 50%;
    width: 100%;
}
}

@media screen and (max-width:425px) {
    .about{
        margin-top: 650px;
    }
}